@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
  color: rgb(35, 35, 35);
  font-family: "Montserrat", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  transition: 0.3s all;
  z-index: 10;
}

.headerScrolled {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 5px 0px gray;
  transition: 0.3s all;
}

.headerLogoContainer {
  display: flex;
  align-items: center;
}

.headerLogo {
  width: 180px;
}

.headerOpenNavbarButtonContainer {
  display: flex;
  align-items: center;
}

.headerOpenNavbarButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.openNavbarIcon {
  width: 35px;
}

.headerNavbar {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  background-color: rgb(215, 215, 215);
  padding-left: 20px;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
}

.headerNavbarTextContainer {
  width: 40%;
  display: flex;
  justify-content: center;
}

.headerNavbarText {
  transform: rotate(-90deg);
  font-size: 7rem;
  font-weight: 700;
  color: rgb(190, 190, 190);
}

.headerNavbarLinksContainer {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(230, 230, 230);
  padding-left: 40px;
}

.headerNavbarLink {
  text-decoration: none;
  color: rgb(65, 65, 65);
  font-size: 1.5rem;
  font-weight: 600;
}

.headerCloseNavbarButtonContainer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5%;
}

.headerCloseNavbarButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  margin: auto;
}

.closeNavbarIcon {
  width: 35px;
  color: rgb(110, 110, 110);
}

@media (width >= 768px) {
  header {
    padding: 15px 40px;
  }
  .headerScrolled {
    box-shadow: 0px 0px 20px 0px gray;
  }
  .headerLogo {
    width: 200px;
  }
  .openNavbarIcon {
    width: 45px;
  }
  .headerNavbar {
    padding-left: 50px;
  }
  .headerNavbarTextContainer {
    width: 35%;
  }
  .headerNavbarText {
    font-size: 11rem;
  }
  .headerNavbarLinksContainer {
    width: 65%;
    gap: 60px;
    padding-left: 80px;
  }
  .headerNavbarLink {
    font-size: 2rem;
  }
  .closeNavbarIcon {
    width: 45px;
  }
}
@media (width >= 992px) {
  header {
    padding: 10px 40px;
  }
  .headerScrolled {
    box-shadow: 0px 0px 10px 0px gray;
  }
  .headerLogo {
    width: 130px;
  }
  .headerOpenNavbarButtonContainer {
    display: none;
  }
  .headerNavbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: static;
    background-color: transparent;
    padding-left: 0;
    width: 45%;
    height: auto;
    top: none;
    left: none;
    z-index: auto;
  }
  .headerNavbarTextContainer {
    display: none;
  }
  .headerNavbarLinksContainer {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    gap: 0;
    padding-left: 0;
  }
  .headerNavbarLink {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .headerCloseNavbarButtonContainer {
    display: none;
  }
}
@media (width >= 1200px) {
  header {
    padding: 10px 40px;
  }
  .headerLogo {
    width: 150px;
  }
  .headerNavbar {
    width: 50%;
  }
  .headerNavbarLink {
    font-size: 0.9rem;
  }
}
.bannerSection {
  height: 100vh;
  background-image: url("/images/bannerSectionMobile.webp");
  background-size: cover;
}

@media (width >= 992px) {
  .bannerSection {
    background-image: url("/images/bannerSectionDesktop.webp");
    background-position: left;
  }
}
@media (width >= 1200px) {
  .bannerSection {
    background-position: center;
  }
}
.categoriesSection {
  padding: 50px 20px;
}

.categoryContainer {
  width: 200px;
  height: 200px;
  background-color: rgb(50, 50, 50);
  position: relative;
  cursor: grab;
}

.categoryTextContainer {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.categoryName {
  color: rgb(220, 220, 220);
  font-size: 1.5rem;
  font-weight: 600;
}

.categoryQuantity {
  color: rgb(220, 220, 220);
  font-size: 0.8rem;
}

@media (width >= 768px) {
  .categoriesSection {
    padding: 80px 30px;
  }
  .categoryContainer {
    width: 300px;
    height: 300px;
  }
  .categoryTextContainer {
    bottom: 15%;
    left: 10%;
  }
  .categoryName {
    font-size: 2rem;
  }
  .categoryQuantity {
    font-size: 1rem;
  }
}
@media (width >= 992px) {
  .categoriesSection {
    padding: 70px 20px;
  }
  .categoryContainer {
    width: 250px;
    height: 250px;
  }
  .categoryTextContainer {
    bottom: 15%;
    left: 15%;
  }
  .categoryName {
    font-size: 1.5rem;
  }
  .categoryQuantity {
    font-size: 0.8rem;
  }
}
@media (width >= 1200px) {
  .categoriesSection {
    padding: 80px 40px;
  }
  .categoryContainer {
    width: 300px;
    height: 300px;
  }
  .categoryTextContainer {
    bottom: 10%;
    left: 10%;
  }
  .categoryName {
    font-size: 1.8rem;
  }
  .categoryQuantity {
    font-size: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */