@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
  color: rgb(35, 35, 35);
  font-family: "Montserrat", sans-serif;
}

.display-block {
  display: block;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  transition: 0.3s all;
  z-index: 10;
}

.headerScrolled {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 5px 0px gray;
  transition: 0.3s all;
}

.headerLogoContainer {
  display: flex;
  align-items: center;
}

.headerLogo {
  width: 180px;
}

.headerOpenNavbarButtonContainer {
  display: flex;
  align-items: center;
}

.headerOpenNavbarButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.openNavbarIcon {
  width: 35px;
}

.headerNavbar {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  background-color: rgb(215, 215, 215);
  padding-left: 20px;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
}

.headerNavbarTextContainer {
  width: 40%;
  display: flex;
  justify-content: center;
}

.headerNavbarText {
  transform: rotate(-90deg);
  font-size: 7rem;
  font-weight: 700;
  color: rgb(190, 190, 190);
}

.headerNavbarLinksContainer {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(230, 230, 230);
  padding-left: 40px;
}

.headerNavbarLink {
  text-decoration: none;
  color: rgb(65, 65, 65);
  font-size: 1.5rem;
  font-weight: 600;
}

.headerCloseNavbarButtonContainer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5%;
}

.headerCloseNavbarButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  margin: auto;
}

.closeNavbarIcon {
  width: 35px;
  color: rgb(110, 110, 110);
}

@media (width >= 768px) {
  header {
    padding: 15px 40px;
  }
  .headerScrolled {
    box-shadow: 0px 0px 20px 0px gray;
  }
  .headerLogo {
    width: 200px;
  }
  .openNavbarIcon {
    width: 45px;
  }
  .headerNavbar {
    padding-left: 50px;
  }
  .headerNavbarTextContainer {
    width: 35%;
  }
  .headerNavbarText {
    font-size: 11rem;
  }
  .headerNavbarLinksContainer {
    width: 65%;
    gap: 60px;
    padding-left: 80px;
  }
  .headerNavbarLink {
    font-size: 2rem;
  }
  .closeNavbarIcon {
    width: 45px;
  }
}
@media (width >= 992px) {
  header {
    padding: 10px 40px;
  }
  .headerScrolled {
    box-shadow: 0px 0px 10px 0px gray;
  }
  .headerLogo {
    width: 130px;
  }
  .headerOpenNavbarButtonContainer {
    display: none;
  }
  .headerNavbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: static;
    background-color: transparent;
    padding-left: 0;
    width: 45%;
    height: auto;
    top: none;
    left: none;
    z-index: auto;
  }
  .headerNavbarTextContainer {
    display: none;
  }
  .headerNavbarLinksContainer {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    gap: 0;
    padding-left: 0;
  }
  .headerNavbarLink {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .headerCloseNavbarButtonContainer {
    display: none;
  }
}
@media (width >= 1200px) {
  header {
    padding: 10px 40px;
  }
  .headerLogo {
    width: 150px;
  }
  .headerNavbar {
    width: 50%;
  }
  .headerNavbarLink {
    font-size: 0.9rem;
  }
}
.bannerSection {
  height: 100vh;
  background-image: url("/images/bannerSectionMobile.webp");
  background-size: cover;
}

@media (width >= 992px) {
  .bannerSection {
    background-image: url("/images/bannerSectionDesktop.webp");
    background-position: left;
  }
}
@media (width >= 1200px) {
  .bannerSection {
    background-position: center;
  }
}
.categoriesSection {
  padding: 50px 20px;
}

.categoryContainer {
  width: 200px;
  height: 200px;
  background-color: rgb(50, 50, 50);
  position: relative;
  cursor: grab;
}

.categoryTextContainer {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.categoryName {
  color: rgb(220, 220, 220);
  font-size: 1.5rem;
  font-weight: 600;
}

@media (width >= 768px) {
  .categoriesSection {
    padding: 80px 30px;
  }
  .categoryContainer {
    width: 300px;
    height: 300px;
  }
  .categoryTextContainer {
    bottom: 15%;
    left: 10%;
  }
  .categoryName {
    font-size: 2rem;
  }
}
@media (width >= 992px) {
  .categoriesSection {
    padding: 70px 20px;
  }
  .categoryContainer {
    width: 250px;
    height: 250px;
  }
  .categoryTextContainer {
    bottom: 15%;
    left: 15%;
  }
  .categoryName {
    font-size: 1.5rem;
  }
}
@media (width >= 1200px) {
  .categoriesSection {
    padding: 80px 40px;
  }
  .categoryContainer {
    width: 300px;
    height: 300px;
  }
  .categoryTextContainer {
    bottom: 10%;
    left: 10%;
  }
  .categoryName {
    font-size: 1.8rem;
  }
}
.indexInformationSection {
  border-top: 1px solid rgb(200, 200, 200);
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.indexInformationContainer {
  display: flex;
  justify-content: space-between;
}

.indexInformationIconContainer {
  width: 20%;
}

.indexInformationIcon {
  width: 55px;
}

.indexInformationTitleAndDescriptionContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.indexInformationTitle {
  font-size: 1.1rem;
  font-weight: 500;
}

@media (width >= 768px) {
  .indexInformationSection {
    padding: 80px 50px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
  }
  .indexInformationContainer {
    width: 45%;
  }
  .indexInformationIconContainer {
    width: 25%;
  }
  .indexInformationIcon {
    width: 65px;
  }
  .indexInformationTitleAndDescriptionContainer {
    width: 70%;
    gap: 8px;
  }
  .indexInformationTitle {
    font-size: 1.4rem;
  }
  .indexInformationDescription {
    font-size: 1.2rem;
  }
}
@media (width >= 992px) {
  .indexInformationSection {
    padding: 70px 40px;
    justify-content: space-between;
    gap: 0;
  }
  .indexInformationContainer {
    width: 30%;
  }
  .indexInformationIcon {
    width: 50px;
  }
  .indexInformationTitleAndDescriptionContainer {
    gap: 5px;
  }
  .indexInformationTitle {
    font-size: 1.1rem;
  }
  .indexInformationDescription {
    font-size: 0.9rem;
  }
}
@media (width >= 1200px) {
  .indexInformationSection {
    padding: 80px 80px;
    justify-content: space-between;
    gap: 0;
  }
  .indexInformationContainer {
    width: 25%;
  }
  .indexInformationIconContainer {
    width: 20%;
  }
  .indexInformationTitleAndDescriptionContainer {
    width: 77%;
  }
  .indexInformationTitle {
    font-size: 1.2rem;
  }
  .indexInformationDescription {
    font-size: 1rem;
  }
}
a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

footer {
  background-color: rgb(215, 215, 215);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0;
}

.footerContainer {
  display: flex;
  flex-direction: column;
}

.footerTitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 7px;
}

.footerLink {
  font-size: 0.9rem;
}

.developedByFooterContainer {
  border-top: 1px solid rgb(194, 194, 194);
  padding-top: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.developedByLink {
  font-weight: 600;
}

@media (width >= 768px) {
  footer {
    padding: 50px 0;
  }
  .footerTitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .footerLink {
    font-size: 1.1rem;
  }
  .developedByFooterContainer {
    padding-top: 25px;
    margin-top: 25px;
  }
  .developedByText {
    font-size: 1.1rem;
  }
}
@media (width >= 992px) {
  footer {
    padding: 30px 0;
  }
  .footerTitle {
    font-size: 1rem;
  }
  .footerLink {
    font-size: 0.9rem;
  }
  .developedByFooterContainer {
    padding-top: 20px;
    margin-top: 20px;
  }
  .developedByText {
    font-size: 0.9rem;
  }
}
@media (width >= 1200px) {
  footer {
    padding: 40px 0;
  }
  .footerTitle {
    font-size: 1.1rem;
  }
  .footerLink {
    font-size: 1rem;
  }
  .developedByFooterContainer {
    padding-top: 30px;
    margin-top: 30px;
  }
  .developedByText {
    font-size: 1rem;
  }
}
.categoryPageMain {
  margin-top: 60px;
  padding: 20px 10px;
}

.filterSection {
  display: none;
}

.categoryTitleNameAndFilterButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.categoryTitleName {
  font-size: 1.8rem;
}

.filterButton {
  background: none;
  border: none;
}

.filterIcon {
  width: 30px;
}

.categoryProductsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.productContainer {
  width: 47%;
  position: relative;
  cursor: pointer;
}
.productContainer .productImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.productContainer .productPrice {
  opacity: 0;
  position: absolute;
  font-weight: 500;
  bottom: 15px;
  left: 15px;
  transition: 0.5s all;
}
.productContainer .productDiscount {
  opacity: 0;
  position: absolute;
  color: rgb(41, 141, 41);
  font-weight: 500;
  font-size: 0.8rem;
  top: 15px;
  right: 15px;
  transition: 0.5s all;
}

.productContainer:hover .productPrice, .productContainer:hover .productDiscount {
  opacity: 1;
}

@media (width >= 768px) {
  .categoryPageMain {
    margin-top: 75px;
    padding: 20px 40px;
  }
  .categoryTitleNameAndFilterButtonContainer {
    margin-bottom: 30px;
  }
  .categoryTitleName {
    font-size: 2.1rem;
  }
  .filterIcon {
    width: 40px;
  }
  .categoryProductsContainer {
    gap: 30px;
  }
  .productContainer {
    width: 30%;
  }
  .productContainer .productPrice {
    font-size: 1.1rem;
    left: 25px;
  }
  .productContainer .productDiscount {
    font-size: 1rem;
  }
}
@media (width >= 992px) {
  .categoryPageMain {
    margin-top: 55px;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
  }
  .filterSection {
    width: 20%;
    display: block;
  }
  .filtersTitle {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  .productsCategorySection {
    width: 80%;
  }
  .categoryTitleNameAndFilterButtonContainer {
    margin-bottom: 20px;
  }
  .categoryTitleName {
    font-size: 1.4rem;
  }
  .filterButton {
    display: none;
  }
  .categoryProductsContainer {
    gap: 20px;
  }
  .productContainer {
    width: 21%;
  }
  .productContainer .productPrice {
    font-size: 0.8rem;
    left: 15px;
  }
  .productContainer .productDiscount {
    font-size: 0.7rem;
  }
}
@media (width >= 1200px) {
  .categoryPageMain {
    margin-top: 55px;
  }
  .filtersTitle {
    font-size: 1.5rem;
  }
  .categoryTitleName {
    font-size: 1.5rem;
  }
  .productContainer {
    width: 23%;
  }
  .productContainer .productPrice {
    font-size: 0.9rem;
  }
  .productContainer .productDiscount {
    font-size: 0.8rem;
  }
}
.registerFormSection {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registerHeaderLogoLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerHeaderLogo {
  width: 200px;
}

.registerTitle {
  font-weight: 600;
  margin-bottom: 5px;
}

.registerText {
  font-size: 0.9rem;
  color: rgb(116, 116, 116);
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registerLabel {
  font-size: 0.9rem;
  margin-left: 2px;
}

.registerInput {
  margin-top: 5px;
  font-size: 1rem;
  padding: 7px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
}

.frontendRegisterError, .backendRegisterError {
  color: red;
  font-size: 0.7rem;
  margin-top: 3px;
}

.registerButton {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  background-color: rgb(35, 35, 35);
  color: rgb(220, 220, 220);
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.registerImageSection {
  display: none;
}

@media (width >= 768px) {
  .registerFormSection {
    width: 80%;
    gap: 30px;
  }
  .registerHeaderLogo {
    width: 250px;
  }
  .registerTitle {
    font-size: 1.1rem;
  }
  .registerText {
    font-size: 1rem;
  }
  .registerForm {
    gap: 15px;
  }
  .registerLabel {
    font-size: 1rem;
  }
  .registerInput {
    font-size: 1.1rem;
    padding: 10px 12px;
    border-radius: 10px;
  }
  .frontendRegisterError, .backendRegisterError {
    font-size: 0.9rem;
  }
  .registerButton {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
  }
}
@media (width >= 992px) {
  .registerMain {
    display: flex;
    height: 100vh;
  }
  .registerFormSection {
    width: 50%;
    position: static;
    top: auto;
    left: auto;
    transform: none;
    display: block;
    padding: 20px 70px 20px 20px;
  }
  .registerHeaderLogoLink {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  .registerHeaderLogo {
    width: 200px;
  }
  .registerTextContainer {
    margin-bottom: 20px;
  }
  .registerTitle {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .registerText {
    font-size: 0.9rem;
  }
  .registerForm {
    gap: 15px;
  }
  .registerLabel {
    font-size: 0.9rem;
  }
  .registerInput {
    margin-top: 5px;
    padding: 7px 10px;
    font-size: 1rem;
  }
  .frontendRegisterError, .backendRegisterError {
    font-size: 0.7rem;
  }
  .registerButton {
    font-size: 1rem;
    font-weight: 500;
    padding: 8px;
    margin-top: 10px;
  }
  .registerImageSection {
    width: 50%;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/registerImage.webp");
    background-size: cover;
    background-position: center;
  }
}
@media (width >= 1200px) {
  .registerFormSection {
    padding: 50px 160px 50px 50px;
  }
  .registerHeaderLogo {
    width: 200px;
  }
  .registerTextContainer {
    margin-bottom: 25px;
  }
  .registerForm {
    gap: 15px;
  }
  .registerLabel {
    font-size: 0.8rem;
  }
  .registerInput {
    font-size: 0.9rem;
    margin-top: 3px;
  }
  .registerButton {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px;
  }
}
.loginImageSection {
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/loginImage.webp");
  background-size: cover;
  background-position: center;
}

.profileMain {
  margin-top: 60px;
  padding: 30px 0;
}

.profileImageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  position: relative;
}

.profileImage {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.editProfilePictureButton {
  position: absolute;
  bottom: -12px;
  background-color: rgb(0, 209, 209);
  border: none;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.editProfilePictureIcon {
  width: 20px;
  color: rgb(240, 240, 240);
}

.profileInformationContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 70%;
  margin: auto;
}

.profileInformationDescription {
  font-size: 0.8rem;
  font-weight: 600;
  color: gray;
  margin-bottom: 5px;
}

.profileInformation {
  font-weight: 500;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.editProfileLinkContainer {
  margin-top: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.editProfileLink {
  display: block;
  text-align: center;
  width: 100%;
  background-color: rgb(50, 50, 50);
  color: rgb(220, 220, 220);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 0.8rem;
}

@media (width >= 768px) {
  .profileMain {
    margin-top: 75px;
    padding: 40px 0;
  }
  .profileImageContainer {
    margin-bottom: 55px;
  }
  .profileImage {
    width: 200px;
    height: 200px;
  }
  .editProfilePictureButton {
    bottom: -17px;
    padding: 5px;
  }
  .editProfilePictureIcon {
    width: 27px;
  }
  .profileInformationContainer {
    gap: 45px;
  }
  .profileInformationDescription {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .profileInformation {
    font-size: 1.3rem;
  }
  .editProfileLinkContainer {
    margin-top: 50px;
  }
  .editProfileLink {
    padding: 15px;
    font-size: 1.2rem;
  }
}
@media (width >= 992px) {
  .profileMain {
    margin-top: 55px;
    padding: 20px 0 40px;
    display: flex;
  }
  .profileImageContainer {
    width: 40%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .profileImage {
    width: 280px;
    height: 280px;
  }
  .editProfilePictureButton {
    bottom: -15px;
  }
  .editProfilePictureIcon {
    width: 20px;
  }
  .profileInformationAndEditProfileButtonContainer {
    width: 60%;
  }
  .profileInformationContainer {
    gap: 25px;
  }
  .profileInformationDescription {
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .profileInformation {
    font-size: 0.9rem;
  }
  .editProfileLinkContainer {
    margin-top: 30px;
  }
  .editProfileLink {
    padding: 8px;
    font-size: 0.7rem;
  }
}
@media (width >= 1200px) {
  .profileMain {
    padding: 70px 0 100px;
  }
  .profileImage {
    width: 360px;
    height: 360px;
  }
  .editProfilePictureButton {
    bottom: -18px;
  }
  .editProfilePictureIcon {
    width: 23px;
  }
  .profileInformationContainer {
    gap: 35px;
  }
  .profileInformationDescription {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  .profileInformation {
    font-size: 1.1rem;
  }
  .editProfileLinkContainer {
    margin-top: 45px;
  }
  .editProfileLink {
    padding: 10px;
    font-size: 0.9rem;
  }
}
.editProfileMain {
  margin-top: 60px;
  padding: 20px;
}

.editProfileTitle {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.editProfileForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editProfileButton {
  font-size: 0.8rem;
  font-weight: 500;
  background-color: rgb(50, 50, 50);
}

@media (width >= 768px) {
  .editProfileMain {
    margin-top: 75px;
    padding: 20px 40px;
  }
  .editProfileTitle {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }
  .editProfileForm {
    gap: 40px;
  }
  .editProfileLabel {
    font-size: 1.1rem;
  }
  .editProfileInput {
    padding: 15px;
    font-size: 1.4rem;
  }
  .editProfileButton {
    font-size: 1.2rem;
    padding: 15px;
  }
}
@media (width >= 992px) {
  .editProfileMain {
    margin-top: 55px;
  }
  .editProfileTitle {
    font-size: 1.3rem;
    margin-bottom: 30px;
  }
  .editProfileForm {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .editProfileLabelAndInputContainer {
    width: 48%;
  }
  .editProfileLabelAndInputEmailContainer {
    width: 100%;
  }
  .editProfileLabel {
    font-size: 0.8rem;
  }
  .editProfileInput {
    padding: 5px 10px;
    font-size: 1rem;
  }
  .editProfileButton {
    font-size: 1rem;
    padding: 7px;
    width: 100%;
  }
}
@media (width >= 1200px) {
  .editProfileTitle {
    font-size: 1.5rem;
  }
  .editProfileForm {
    gap: 40px;
  }
  .editProfileLabel {
    font-size: 0.9rem;
  }
  .editProfileInput {
    font-size: 1.1rem;
  }
  .editProfileButton {
    font-size: 1rem;
    padding: 8px;
  }
}/*# sourceMappingURL=styles.css.map */