<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thunder⚡</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/headerNavbarScript.js" defer></script>
    <script src="/js/headerScrollScript.js" defer></script>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main>
    <!-- ******************************** BANNER SECTION ******************************** -->
    <%- include("partials/bannerSection") %>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <!-- ******************************** END BANNER SECTION ******************************** -->
    </main>
</body>
</html>