<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thunder⚡</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/headerNavbarScript.js" defer></script>
    <script src="/js/headerScrollScript.js" defer></script>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <!-- ******************************** MAIN ******************************** -->
    <main>
    <%- include("partials/bannerSection") %>
    <%- include("partials/categoriesSection") %>
    <!-- ******************************** END MAIN ******************************** -->
    </main>
</body>
</html>