<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Thunder⚡ Shopping cart"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="shoppingCartMain">
        shopping cart
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>