<section class="categoriesSection">
    <div class="categoriesContainer">
        <div class="categoryContainer">
            <div class="categoryTextContainer">
                <h3 class="categoryName">Shirts</h3>
                <p class="categoryQuantity">120</p>
            </div>
        </div>

        <div class="categoryContainer">
            <div class="categoryTextContainer">
                <h3 class="categoryName">Shoes</h3>
                <p class="categoryQuantity">60</p>
            </div>
        </div>
    </div>
</section>