<section class="categoriesSection">
    <div class="categoriesContainer">
        <a href="#">
            <div class="categoryContainer">
                <div class="categoryTextContainer">
                    <p class="categoryName">Shoes</p>
                    <p class="categoryQuantity">120</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="categoryContainer">
                <div class="categoryTextContainer">
                    <p class="categoryName">Shoes</p>
                    <p class="categoryQuantity">120</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="categoryContainer">
                <div class="categoryTextContainer">
                    <p class="categoryName">Shoes</p>
                    <p class="categoryQuantity">120</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="categoryContainer">
                <div class="categoryTextContainer">
                    <p class="categoryName">Shoes</p>
                    <p class="categoryQuantity">120</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="categoryContainer">
                <div class="categoryTextContainer">
                    <p class="categoryName">Shoes</p>
                    <p class="categoryQuantity">120</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="categoryContainer">
                <div class="categoryTextContainer">
                    <p class="categoryName">Shoes</p>
                    <p class="categoryQuantity">120</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="categoryContainer">
                <div class="categoryTextContainer">
                    <p class="categoryName">Shoes</p>
                    <p class="categoryQuantity">120</p>
                </div>
            </div>
        </a>
    </div>
</section>