<footer>
    <div class="footerContainer">
        <h5 class="footerTitle">Main menu</h5>
        <a class="footerLink" href="#">Products</a>
        <a class="footerLink" href="#">Example</a>
    </div>

    <div class="footerContainer">
        <h5 class="footerTitle">Comunication</h5>
        <a class="footerLink" href="#">+54-9-11-2345-6789</a>
        <a class="footerLink" href="#">thunder@gmail.com</a>
    </div>

    <div class="developedByFooterContainer">
        <p class="developedByText">© Thunder 2024 - <a class="developedByLink" href="https://leandroheffesportfolio.vercel.app/">Leandro Heffes</a></p>
    </div>
</footer>