<header id="header">
    <div class="headerLogoContainer">
        <img class="headerLogo" src="/images/logo.png" alt="Logo Thunder">
    </div>

    <div class="headerOpenNavbarButtonContainer">
        <button class="headerOpenNavbarButton">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="openNavbarIcon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 8l16 0" />
                <path d="M4 16l16 0" />
            </svg>
        </button>
    </div>

    <nav class="headerNavbar">
        <div class="headerNavbarTextContainer">
            <p class="headerNavbarText">MENU</p>
        </div>

        <div class="headerNavbarLinksContainer">
            <a class="headerNavbarLink" href="#">Home</a>
            <a class="headerNavbarLink" href="#">Products</a>
            <a class="headerNavbarLink" href="#">Login</a>
            <a class="headerNavbarLink" href="#">Register</a>
        </div>

        <div class="headerCloseNavbarButtonContainer">
            <button class="headerCloseNavbarButton">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="closeNavbarIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
            </button>
        </div>
    </nav>
</header>