@import "./variables";

.categoryPageMain{
    margin-top: 60px;
    padding: 20px 10px;
    border: 1px solid red;
}

.filterSection{
    display: none;
}

.productsCategorySection{
    
}

.categoryTitleNameAndFilterButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.categoryTitleName{
    font-size: 1.8rem;
}

.filterButton{
    background: none;
    border: none;
}

.filterIcon{
    width: 30px;
}

.categoryProductsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productContainer{
    width: 47%;
    position: relative;
    .productImage{
        width: 100%;
    }

    .productPrice{
        opacity: 0;
        position: absolute;
        font-weight: 500;
        bottom: 15px;
        left: 15px;
        transition: .5s all;
    }
    
    .productDiscount{
        opacity: 0;
        position: absolute;
        color: rgb(41, 141, 41);
        font-weight: 500;
        font-size: .8rem;
        top: 15px;
        right: 15px;
        transition: .5s all;
    }
}

.productContainer:hover{
    .productPrice, .productDiscount{
        opacity: 1;
    }
}
