@import "./variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $backgroundColor;
    color: $primaryTextColor;
    font-family: "Montserrat", sans-serif;
}