@import "./variables";

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    transition: .3s all;
    z-index: 10;
}

.headerScrolled{
    background-color: $backgroundColor;
    box-shadow: 0px 0px 5px 0px gray;
    transition: .3s all;
}

.headerLogoContainer{
    display: flex;
    align-items: center;
}

.headerLogo{
    width: 180px;
}

.headerOpenNavbarButtonContainer{
    display: flex;
    align-items: center;
}

.headerOpenNavbarButton{
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.openNavbarIcon{
    width: 35px;
}

.headerNavbar{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    background-color: $headerNavbarBackgroundColor;
    padding-left: 20px;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
}

.headerNavbarTextContainer{
    width: 40%;
    display: flex;
    justify-content: center;
}

.headerNavbarText{
    transform: rotate(-90deg);
    font-size: 7rem;
    font-weight: 700;
    color: rgb(190, 190, 190);
}

.headerNavbarLinksContainer{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(230, 230, 230);
    padding-left: 40px;
}

.headerNavbarLink{
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 1.5rem;
    font-weight: 600;
}

.headerCloseNavbarButtonContainer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5%;
}

.headerCloseNavbarButton{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    margin: auto;
}

.closeNavbarIcon{
    width: 35px;
    color: rgb(110, 110, 110);
}