@import "./variables";

.loginImageSection{
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/loginImage.webp");
    background-size: cover;
    background-position: center;
}