@import "./variables";

.registerFormSection{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerHeaderLogoLink{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerHeaderLogo{
    width: 200px;
}

.registerTitle{
    font-weight: 600;
    margin-bottom: 5px;
}

.registerText{
    font-size: .9rem;
    color: rgb(116, 116, 116);
}

.registerForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registerLabel{
    font-size: .9rem;
    margin-left: 2px;
}

.registerInput{
    margin-top: 5px;
    font-size: 1rem;
    padding: 7px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}

.frontendRegisterError, .backendRegisterError{
    color: red;
    font-size: .7rem;
    margin-top: 3px;
}

.registerButton{
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    background-color: $primaryTextColor;
    color: $categoryContainerTextColor;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.registerImageSection{
    display: none;
}

@media (width >= 768px) {    
    .registerFormSection{
        width: 80%;
        gap: 30px;
    }
    
    .registerHeaderLogo{
        width: 250px;
    }

    .registerTitle{
        font-size: 1.1rem;
    }
    
    .registerText{
        font-size: 1rem;
    }
    
    .registerForm{
        gap: 15px;
    }
    
    .registerLabel{
        font-size: 1rem;
    }
    
    .registerInput{
        font-size: 1.1rem;
        padding: 10px 12px;
        border-radius: 10px;
    }

    .frontendRegisterError, .backendRegisterError{
        font-size: .9rem;
    }
    
    .registerButton{
        font-size: 1.1rem;
        font-weight: 600;
        padding: 15px;
        border: none;
        border-radius: 10px;
        margin-top: 15px;
    }
}

@media (width >= 992px) {
    .registerMain{
        display: flex;
        height: 100vh;
    }

    .registerFormSection{
        width: 50%;
        position: static;
        top: auto;
        left: auto;
        transform: none;
        display: block;
        padding: 20px 70px 20px 20px;
    }

    .registerHeaderLogoLink{
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    
    .registerHeaderLogo{
        width: 200px;
    }

    .registerTextContainer{
        margin-bottom: 20px;
    }

    .registerTitle{
        font-size: 1rem;
        margin-bottom: 0;
    }
    
    .registerText{
        font-size: .9rem;
    }
    
    .registerForm{
        gap: 15px;
    }
    
    .registerLabel{
        font-size: .9rem;
    }
    
    .registerInput{
        margin-top: 5px;
        padding: 7px 10px;
        font-size: 1rem;
    }

    .frontendRegisterError, .backendRegisterError{
        font-size: .7rem;
    }
    
    .registerButton{
        font-size: 1rem;
        font-weight: 500;
        padding: 8px;
        margin-top: 10px;
    }

    .registerImageSection{
        width: 50%;
        display: block;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/registerImage.webp");
        background-size: cover;
        background-position: center;
    }
}

@media (width >= 1200px) {
    .registerFormSection{
        padding: 50px 160px 50px 50px;
    }
    
    .registerHeaderLogo{
        width: 200px;
    }

    .registerTextContainer{
        margin-bottom: 25px;
    }
    
    .registerForm{
        gap: 15px;
    }
    
    .registerLabel{
        font-size: .8rem;
    }
    
    .registerInput{
        font-size: .9rem;
        margin-top: 3px;
    }
    
    .registerButton{
        font-size: .9rem;
        font-weight: 600;
        padding: 10px;
    }
}