$primaryTextColor: rgb(35, 35, 35);
$backgroundColor: rgb(240, 240, 240);
$headerNavbarBackgroundColor: rgb(215, 215, 215);
$categoryBoxBackgroundColor: rgb(50, 50, 50);
$categoryBoxTextColor: rgb(220, 220, 220);